

.footerContainer{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent{
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

